body {
	background-color: black;
	color: white;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	text-align: center;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

footer {
	display: flex;
	justify-content: center;
	padding: 1em;
}

div {
	display: flex;
	justify-content: center;
}

.vertical {
	display: flex;
	flex-direction: column;
}

.section {
	margin: 0 0 2em 0;
}

button {
	text-align: center;
	background-color: black;
	color: white;
	height: 2rem;
	width: 8rem;
}

button.big {
	height: 4rem;
	width: 30rem;
}

input {
	text-align: center;
	background-color: black;
	color: white;
}

@media screen and (max-width: 32rem) {
	button.big {
		width: 100vw;
	}
}

button:hover {
	background-color: white;
	color: black;
}
