:root {
	--main-bg-color: black;
	--main-fg-color: white;
	--border-color: #ccc;
	--shadow-color: #999;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	text-align: center;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

footer {
	display: flex;
	justify-content: center;
	padding: 1em;
}

div {
	display: flex;
	justify-content: center;
}

.vertical {
	display: flex;
	flex-direction: column;
}

.section {
	margin: 0 0 2em 0;
}

button {
	text-align: center;
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
	height: 2rem;
	width: 8rem;
}

button.big {
	height: 4rem;
	width: 30rem;
}

@media screen and (max-width: 32rem) {
	button.big {
		width: 100vw;
	}
}

button:hover {
	background-color: var(--main-fg-color);
	color: var(--main-bg-color);
}

button:disabled {
	background-color: var(--shadow-color);
}

*:focus {
	outline: 2px solid var(--border-color);
}

input {
	text-align: center;
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}

textarea {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
	border-radius: 5px;
	border: 1px solid var(--border-color);
	box-shadow: 1px 1px 1px var(--shadow-color);
}

.tooltip {
	min-height: 1em;
}
